<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- <link rel="stylesheet" href="css/normalize.css"> -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalized.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        <!-- <link rel="stylesheet" href="css/main.css"> -->
        <!-- Latest compiled and minified CSS -->

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                  PicPlay
              </a>
          </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="{{url_for('index')}}">Find New Playlist <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <!-- <div class="list-group">
                {% for name, info in playlists.iteritems() %}
                <a href="{{info[0]}}" class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-md-6"><img src="{{info[1]}}" alt="" /></div>
                      <div class="col-md-6"><h3 class="list-group-item-heading">{{name}}</h3></div>
                    </div>
                </a>
                {% endfor %}
            </div> -->
            <div class="row">
                {% for name, info in playlists.iteritems() %}
                    <div class="col-xs-6 col-md-3">
                        <a href="{{info[0]}}" class="thumbnail">
                            <img src="{{info[1]}}" alt="...">
                            <div class="caption">
                                <h4 style="text-align:center;">{{name}}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>


        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
